/* header ------------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
}

header div {
    grid-column: 1/-1;
    grid-row: 1/-1;

}

header div iframe {
    width: 100%;
    height: 20rem;
}

header div img {
    width: 100%;
    height: auto;
}

header a {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    align-self: baseline;
    justify-self: center;

    color: #fff;
    margin-top: 1rem;
}

header input {
    grid-row: 1/-1;
    grid-column: 3/-1;
    z-index: 1;
    justify-self: center;
    align-self: baseline;

    margin-top: 1rem;
}

/* main -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* generel info ------------------------------------------------------------------------------------------*/
/* headline ---------------------------------------------------------------- */
main {
    position: relative;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
}

.generelInfo .headline {
    display: flex;
    justify-content: space-between;
}

main .generelInfo h1 {
    font-size: 1.2rem;
    padding-right: 7rem;
    padding-bottom: 1rem;
}

/* rating ------------------------------------------------------------- */

.generelInfo__rating {
    font-size: 0.7rem;
    color: #9C9C9C;
}

main .generelInfo__rating i {
    color: #FFC319;
}


/* genres ----------------------------------------------------------- */
.generalInfo__genres {
    display: flex;
    justify-content: space-between;
    padding-right: 8rem;
    padding-bottom: 1rem;
}

.generalInfo__genres li {
    background-color: #DBE3FF;
    padding: 0.3rem;
    border-radius: 1rem;
    color: #88A4E8;
    font-size: 0.56rem;
}

/* table (length/language/rating)----------------------------------- */
main .generelInfo table {
    width: 80%;
    font-size: 0.7rem;
    padding-bottom: 2rem;
}

main .generelInfo table th {
    text-align: left;
}


/* description ---------------------------------------------------------------------------------------*/
.description {
    padding-bottom: 1rem;
}

.description h2{
    padding-bottom: 0.5rem;
    font-size: 1rem;
    color: #110E47;
}

.description p {
    font-size: 0.75rem;
    color: #9C9C9C;
}


/* cast --------------------------------------------------------------------------------------------*/
main .cast h2{
    font-size: 1rem;
    color: #110E47;
}

main .cast section {
    margin-top: 1rem;
}

main .cast section ul{
    display: flex;
    gap: 1rem;
    overflow: scroll;
}

main section ul article div {
    width: 4.5rem;
}

main section ul article h3 {
    font-size: 0.7rem;
    color: #110E47;
}

/* footer ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/