/* header ------------------------------------------------------- */
header {
    padding: 1rem 0;
    position: relative;
}

header h1 {
    text-align: center;
    font-size: 1rem;
}

.header__DarkMode i {
    font-size: 2.3rem;
    color: #AAA9B1;
    position: absolute;
    top: 10px;
    right: 20px;
}


/* main -----------------------------------------------------------*/
main {
    padding: 0 0 0 1.5rem;
}

main h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* now showing -------------------------------*/
main .nowShowing .nowShowing__movies {
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
}

.nowShowing {
    overflow: scroll;
}

main .nowShowing .nowShowing__movies__movie {
    width: 100%;
    height: 100%;
}

.nowShowing__movies__movie h3 {
    font-size: 0.87rem;
}

.nowShowing__movies__movie .movieImg {
    width: 8rem;

    img {
        border-radius: 0.5rem;
    }
}

.movie--rating {
    font-size: 0.7rem;
    color: #9C9C9C;
    margin: 0.5rem 0;
}

.movie--rating i {
    color: #FFC319;
}

/* populare ----------------------------------*/
.populare__movies {
    max-height: 270px;
    overflow: scroll;
}

.populare__movies--movie {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 30% 25% auto;
    margin-bottom: 1rem;
}

.populare__movies--movie .movieImg {
    grid-column: 1/-2;
    grid-row: 1/-1;
    width: 6rem;

    img {
        border-radius: 0.5rem;
    }
}

.populare__movies--movie h3 {
    grid-column: 2/-1;
    grid-row: 1/2;
}

.populare__movies--movie .movie--rating {
    grid-column: 2/-1;
    grid-row: 2/3;
}

.populare__movies--movie .movie__genre ul {
    display: flex;

    justify-content: space-around;

    li {
        font-size: 0.6rem;
        background-color: #DBE3FF;
        color: #88A4E8;
        padding: 0.5rem;
        border-radius: 1rem;
    }
}


/* footer ----------------------------------------------------------------------------*/
footer {
    background-color: #fff;
    box-shadow: #707070 0px 6px 20px;
    height: 100%;
}

footer section {
    padding: 1.3rem;
    display: flex;
    justify-content: space-around;
}